<section class="principal">
    <div class="texto-encabezado text-center">
        <div class="container">
            <h1 class="display-4 font-weight-bold ">Papeleria Alba</h1>
            <h5 class="TituloDos">Todo lo mejor para ti</h5>
            <!--´poner direccion al boton  -->
            <a href="#" class="btn btn-primary btn-lg">Ponte en Contacto</a>
        </div>
    </div>
    <div class="flecha-bajar text-center">
        <a data-scroll href="#">
            <i class="fa fa-angle-down " aria-hidden="true"></i>
        </a>
    </div>
</section>
<section class="papeleria py-3" id="papeleria">
    <div class="container">
        <h2 class="h3 text-center text-md-left font-weight-bold "> Acerca de Papeleria Alba</h2>
        <div class="row">
            <div class=" col-12 col-md-8 col-xl-8 wow bounceIn text-justify" data-wow-delay=".3s">
                <p>Papelería Alba ofrece todo lo mejor para ti, productos de la mejor calidad y de un precio cómodo que
                    se ajusta a tu estabilidad económica, brindándole al cliente una excelente atención a la hora de que
                    es participe de las compras y demás.</p>
                <p>Contamos con un sistema de Inventario para la organización y control de los productos, con esta
                    herramienta se busca la comodidad y agilidad de trabajo de los empleadores de esta.</p>
            </div>
            <div class=" text-center col-12 col-md-4 col-xl-4 wow bounceIn" data-wow-delay=".6s">
                <img class="imgSeccionPapeleria" src="/static/images/logoPrincipal.png" alt="imgPapeleria" />
            </div>
        </div>
    </div>

</section>
<seccion class="serviciosDos">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-4">
                <article class="item-servicios">
                    <i class="fa fa-book" aria-hidden="true"></i>
                    <h4>Sistema de Inventario</h4>
                    <p class="text-justify">Contamos con un sistema de Inventario para la organización y control de los
                        productos, con esta herramienta se busca la comodidad y agilidad de trabajo de los empleadores
                        de esta.</p>
                    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#servicio1">Más información</a>
                </article>
            </div>
            <div class="col-md-4">
                <article class="item-servicios">
                    <i class="fa fa-pencil-ruler" aria-hidden="true"></i>
                    <h4>Experiencias Únicas</h4>
                    <p class="text-justify">Productos de la mejor calidad y a un precio cómodo que se ajusta a tu
                        estabilidad económica, atención profesional para nuestros clientes, oportunidad de obtener
                        productos increibles.</p>
                    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#servicio2">Más información</a>
                </article>
            </div>
            <div class="col-md-4">
                <article class="item-servicios">
                    <i class="fa fa-briefcase" aria-hidden="true"></i>
                    <h4>Variedades</h4>
                    <p class="text-justify">Gran variedad de productos para toda clase de utilidad ya sea oficina,
                        estudio y demás actividades donde se requiera interactuar con este sin fin de herramientas que
                        tenemos para ti. </p>
                    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#servicio3">Más información</a>

                </article>
            </div>
        </div>
    </div>
</seccion>
<!--parte ventana modal seccion serviciosDos-->
<!--MODAL #1-->
<div class="modal fade" id="servicio1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header ">
                <h5 class="modal-title">Misión</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-8 text-justify">
                        Facilitar por medio de unas excelentes relaciones humanas, la comercialización de productos de
                        gran calidad, buscando ser competentes en el mercado, logrando obtener buenos resultados para la
                        empresa y empleadores. </div>
                    <div class="col-md-4">
                        <img src="#" alt="img1" width="150" class="img-fluid  rounded mx-auto d-block">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--MODAL #2-->
<div class="modal fade" id="servicio2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header ">
                <h5 class="modal-title">Visión</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-8 text-justify">
                        Ser líderes a nivel regional y nacional en la comercialización de productos de papelería,
                        fortaleciendo la industria nacional, permitiendo el posicionamiento de nuestra empresa, como una
                        empresa sólida, honesta, solidaria, unida y de excelentes relaciones humanas.
                    </div>
                    <div class="col-md-4">
                        <img src="#" alt="img2" width="150" class="img-fluid  rounded mx-auto d-block">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--MODAL #3-->
<div class="modal fade" id="servicio3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header ">
                <h5 class="modal-title">Un Poco más</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-8 text-justify">
                        Excelente servicio a nuestros clientes, empleados de la mejor calidad para que con nuestra
                        atención se sienta a gusto con nosotros. </div>
                    <div class="col-md-4">
                        <img src="#" alt="img3" width="150" class="img-fluid  rounded mx-auto d-block">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>