 <footer class="pieDePagina " role="contentinfo">
        <div class="container ">
            <p>2020 © AlEJANDRA RODRIGUEZ Todos los derechos reservados</p>
            <ul class="redes-sociales">
                <li>
                    <a href="#" class="fab fa-facebook-f"></a>
                </li>
                 <li>
                    <a href="#" class="logoSitio"> <img src="/static/images/logo1.png" alt="logoSitio" /></a>
                </li>
                <li>
                    <a href="#" class="fab fa-twitter"></a>
                </li>
            </ul>
        </div>
    </footer>
    {{!-- <a data-scroll class="ir-arriba" href="#encabezado"><i class=" fa fa-arrow-circle-up" aria-hidden="true"></i></a> --}}
